<!DOCTYPE html>
<html>

<head>
    <title>Express ToDO</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Express ToDo</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">HOME</a></li>
                <li><a href="/add">ADD</a></li>
                <li><a href="/categories">CATEGORIES</a></li>
                <li><a href="/done">DONE</a></li>
            </ul>
        </div>
    </nav>
    
    
   
            <%- body %>


</body>

</html>